@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.user-icon-img svg {
    width: 30px;
    height: 20px;
    object-fit: cover;
}

.user-icon-img img{
width: auto;
height: 30px;
object-fit: cover;
}

.navbar-brand img{
    width:auto;
    height:30px;
    object-fit:cover;

}



