@page "/reporttime"
@attribute [Authorize]



<div class="mr-5">
    <div class="bg-white d-flex justify-content-start">
        <div class="p-2 m-2 border-right">Report Time</div>
        <div class="p-2 m-2 text-decoration-underline">Day</div>
        <div class="p-2 m-2">Week</div>
        <div class="p-2 m-2">Month</div>
        <div class="p-2 m-2">Year</div>
    </div>
</div>

<div class="container d-flex justify-content-center ">
    <div class="input-group mb-3 p-5">
        <input type="text" class="form-control" placeholder="What are you working on?" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">@TimerOutput</span>
        </div>
        <div>
            <button type="button" class="btn btn-filled-light-blue" @onclick="@StartTimer">Start</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="border bg-dark-blue p-3 text-white d-flex">
        <span class="p2">Wednesday, 23 Sep (Today)</span>
        <span class="ml-auto p2 mr-5">Total: 7:45</span>
    </div>
    <table class="table table-light">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tasks</th>
                <th scope="col">Project</th>
                <th scope="col">Tag</th>
                <th scope="col">Time</th>
                <th scope="col">Duration</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Server connections</th>
                <td>Marketing</td>
                <td>Business</td>
                <td>09:00 - 11:00</td>
                <td>2:00</td>
                <td>
                    <div>
                        <button type="button" class="btn btn-filled-light-blue">Start</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Server connections</th>
                <td>Marketing</td>
                <td>User interface</td>
                <td>12:00 - 16:00</td>
                <td>4:00</td>
                <td>
                    <div>
                        <button type="button" class="btn btn-filled-light-blue">Start</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Color fixes</th>
                <td>Sallary</td>
                <td>Business</td>
                <td>11:00 - 11:45</td>
                <td>1:45</td>
                <td>
                    <div>
                        <button type="button" class="btn btn-filled-light-blue">Start</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Design construction</th>
                <td>Design</td>
                <td>User Interface</td>
                <td>12:00 - 16:00</td>
                <td>4:00</td>
                <td>
                    <div>
                        <button type="button" class="btn btn-filled-light-blue">Start</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@code {
    private static System.Timers.Timer timer;
    private int h, m, s;
    public static string TimerOutput { get; set; }

    private void StartTimer()
    {
        timer.Start();
    }

    protected override void OnInitialized()
    {
        TimerOutput = "00:00:00";
        timer = new Timer();
        timer.Interval = 1000;
        timer.Elapsed += async (sender, args) =>
        {
            await InvokeAsync(() =>
            {
                IncreamentCount();
                StateHasChanged();
            });
        };
    }

    private void IncreamentCount()
    {
        s += 1;
        if (s == 60)
        {
            s = 0;
            m += 1;

        }
        if (m == 60)
        {
            m = 0;
            h += 1;
        }
        TimerOutput = string.Format("{0}:{1}:{2}", h.ToString().PadLeft(2, '0'), m.ToString().PadLeft(2, '0'), s.ToString().PadLeft(2, '0'));
    }

}

