@page "/Features"

<h3>Features</h3>

<AuthorizeView>
	<Authorized>
		<h2>You are signed in!</h2>
	</Authorized>
	<NotAuthorized>
		<h2>Please sign in before proceeding.</h2>
	</NotAuthorized>
</AuthorizeView>

@code {
}
