@page "/"



<body>
    <div id="background"><img src="/images/Background.svg" alt=" background" /></div>
    <div id="h1-txt">
        <h1>Your work time is our number one priority!</h1>
    </div>

    <div id="paragraph-txt">
        <p>Yourworktime makes it easy to track time and expenses, <br /> so you get access to critical data without driving <br /> yourself (or your team) crazy.</p>
    </div>
    <div id="computer-img">
        <img src="/images/pc-laptop.svg" alt="laptop to the right" class="clip-rect"/>

    </div>
    <div id="btn-container">
        <button class="btn btn-create-account" type="button">Create an account</button>
        <p>And join 3+ others!</p>
        <button class="btn btn-learn-more" type="button">Learn more</button>
    </div>

</body>

