@page "/"


    <body>
        <div id="background">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 1920 794.484">
                <path id="Background"
                      d="M-1985,112H-65V906.484L-1985,780.469Z"
                      transform="translate(1985 -112)"
                      fill="#003459" />
            </svg>
        </div>

        <div class="textMessage">
            <h1>Your work time is our number one priority!</h1>
            <p>Yourworktime makes it easy to track time and expenses, so you get access to critical data without driving yourself (or your team) crazy.</p>
        </div>
    </body>

