@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin:0;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    /*flex: 1;*/
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

/*.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}
*//*
.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }
*/
.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.bg-dark-blue {
    background-color: #003459 !important;
}

.navlink-white {
    color: #DCDCDC;
    padding: 30px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.navlink-white:hover {
    color: #FFFF;
}

.navlink-white.active {
    text-decoration: underline;
    color: #FFFF;
}

.btn-outline-light-blue {
    color: #ffff;
    border-color: #00A8E8;
}

    .btn-outline-light-blue:hover {
        color: #DBDBDB;
    }

.btn-filled-light-blue {
    color: #ffff;
    background-color: #00A8E8;
}

.btn-filled-light-blue:hover {
    color: #DBDBDB;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

#logo-main {
    margin-left: 2em;
}

.btn-create-account {
    color: #ffff;
    background-color: #00A8E8;
    position: relative;
}

.create-join {
    margin: 20px;
    position:relative;
}

#btn-container {
    position: relative;
    z-index:500;
    text-align:center;
}

#btn-container p {
    font-family: 'Helvetica Neue';
    font-size: 19px;
    position: relative;
    color: #DCDCDC;
}

.btn-learn-more {
    color: #fff;
    border-color: #00A8E8;
    max-width: 150px;
    position: relative;
}

.form {
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    border-width: 1px;
    border-color: #707070;
    padding: 1em 2em;
    margin: 3rem auto;

    width: 450px;
}

.form-group {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form h2 {
    color: #707070;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.form label {
    color: #707070;
}

#background-main-page .inner {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
}

.background-line {
    background: #003459;
    color: #DCDCDC;
}


.background-line h1{
    color:#fff;
    font-size:2rem;
    font-family:'Helvetica Neue';
    margin-top:10%;
}

.background-line p{
    font-size:1rem;
    font-family: 'Helvetica Neue';
    margin:0 5rem 0 5rem;
}

#home-text {
    text-align: center;
    position: relative;
    grid-row: 1;
    grid-column: 1 / span 3;
    padding-top: 2em;
    z-index: 1;
}

#computer-img {
    position: relative;
    bottom: 0;
    z-index: 100;
    grid-column: 4 / -1;
    grid-row: 1;
    width:500px;
    height:600px;
}

#computer-img img {
    width: auto;
    height: 600px;
}