<div class="h-100">
    <div class="top-row pl-4 navbar shadow-sm bg-white">

        <div class="d-flex justify-content-start">
            <div class="image-container">
                <img src="/images/workspace_logo.png">
            </div>
            <div class="text-black-50 m-2 pl-2 my-auto">
                <h3>Cryptica</h3>
                <p class="text--left">Workspace</p>
            </div>
        </div>

    </div>

    <div class=" nav flex-column shadow bg-white d-flex justify-content-between">
            <div>
                <div class="nav-item px-3">
                    <SideBarButton Name="Report Time" IconName="clock-fill.svg" Href="/reporttime" />
                </div>
                <div class="nav-item px-3">
                    <SideBarButton Name="Dashboard" IconName="grid-fill.svg" Href="/dashboard" />
                </div>
                <div class="nav-item px-3">
                    <SideBarButton Name="Reports" IconName="file-text-fill.svg" Href="/reports" />
                </div>
                <div class="nav-item px-3">
                    <SideBarButton Name="Projects" IconName="folder-fill.svg" Href="/projects" />
                </div>
                <div class="nav-item px-3">
                    <SideBarButton Name="Clients" IconName="person-fill.svg" Href="/clients" />
                </div>
                <div class="nav-item px-3">
                    <SideBarButton Name="Members" IconName="people-fill.svg" Href="/members" />
                </div>
                <div class="nav-item px-3">
                    <SideBarButton Name="Chat" IconName="chat-fill.svg" Href="/chat" />
                </div>
            </div>
            <div>
                <div class="nav-item px-3">
                    <SideBarButton Name="Help" IconName="question-circle-fill.svg" Href="/chat" />
                </div>
                <div class="nav-item px-3">
                    <SideBarButton Name="Settings" IconName="gear-fill.svg" Href="/chat" />
                </div>
            </div>
    </div>
</div>
@code {

}
